#Env
QGC/.env
.venv
venv/
venv.bak/

#Django
*.log
*.pot
*.pyc
.idea/misc.xml
.idea
.idea/
**.idea/**
*.idea/**
*.idea/*
.idea/*
__pycache__
*/__pycache__
**/__pycache__
*/__pycache__/
**/__pycache__/
/__pycache__/
**/migrations/__pycache__
*/migrations/__pycache__
db.sqlite3
media

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.env
/static
/static/
static
*static/
**static/
*/static/
**/static/

/staticfiles
/staticfiles/
staticfiles
*staticfiles/
**staticfiles/
*/staticfiles/
**/staticfiles/

.env